.newuserzone
  .theme
    %h1 Tripperへようこそ
    %br 
      %h2 あなたの旅行が誰かの旅行を有意義にする。　　　　　そんな体験をぜひしてみましょう。
    .leftbtn
      .leftbtn__login
        = link_to "ログイン画面", "/users/sign_in"
      .leftbtn__toppage
        = link_to "トップページに戻る", root_path
  #account-page.newaccount-page
    %h2 Create Account
    .newaccount-page__inner
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        - if @sns_id.present?
          = hidden_field_tag :sns_auth, true
        - else
          .field
            .field-label
              = f.label :password
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .field
            .field-label
              = f.label :password_confirmation
            .field-input
              = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "Create Account", class: 'btn' 
    .newaccount-page__Google
      または
      %br
      = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post
    .newaccount-page__Facebook
      = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post