.headernav
  .headeruppercontent
    .headeruppercontent__title
      %i.fa.fa-plane
      = link_to "Tripper",root_path
  .headerusericon
    %text
      = current_user&.name

  .headerundercontent
    .headerundercontent__btn
      - if user_signed_in?
        .headerundercontent__btn--logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        .headerundercontent__btn--mypage
          = link_to "マイページ", "/users/#{current_user.id}"
      - else
        .headerundercontent__btn--logout
          = link_to "ログイン", new_user_registration_path, class: 'post'
        .headerundercontent__btn--logout
          = link_to "新規登録", new_user_registration_path, class: 'post'


        
