.contentswrapper
  - @posts.each do |post|
    .contents
      .uppercontents
        .uppercontents__usericon
        -#   %text
        -#   = post.user.name
        .uppercontents__more
        - if user_signed_in?
          .menubar
            %label
              %i.fa.fa-ellipsis-h
              %input.acordion{:id => "list", :type => "checkbox"}
              %ul
                %li
                  = link_to '詳細', "/posts/#{post.id}", method: :get
                %li
                  = link_to '編集', "/posts/#{post.id}/edit", method: :get
                %li
                  = link_to '削除', "/posts/#{post.id}", method: :delete
      .contents__country
        %a
          = post.country
      = image_tag post.image
      .undercontents
        .undercontents__time
          = post.created_at.strftime("%Y-%m-%d")
        .undercontents__travelexpenses
          旅費：
          = post.travelexpense
          円
        .undercontents__post
          = post.content



