.userzone
  .theme
    %h1 Tripperへようこそ
    %br 
      %h2 あなたの旅行が誰かの旅行を有意義にする。　　　　　そんな体験をぜひしてみましょう。
    .signup
      = render "devise/shared/links"
      = link_to "トップページに戻る", root_path
  #account-page.account-page
    .account-page__upper
      %h2 Log in
      -# %h5 登録しているユーザーでログイン
    .account-page__inner
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :password
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'btn'
    .account-page__Google
      または
      %br
      = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post
    .account-page__Facebook
      = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post