= render "./shared/header"
.formwrapper
  .form
    = form_for [@post] do |f|
      .form__mask
        .form__mask__image
          #image-box-1
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                .input-area
                  = i.file_field :image_url, type: 'file', name: "post[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
                  %label{for: "img-file"}
                    %i.fas.fa-camera
        -# = f.label :image, class: 'form__mask__image' do
          -# = f.fields_for :images do |i|#画像複数投稿
          -#   = i.file_field :image_url
        -# #image-box
        -#   #previews
        -#     - if @post.persisted?
        -#       - @post.images.each_with_index do |image, i|
        -#         = image_tag image.image_url, data: { index: i }, width: "100", height: '100'
        -#     = f.fields_for :images do |image|
        -#       .js-file_group{"data-index" => "#{image.index}"}
        -#         = image.file_field :image_url, class: 'js-file'
        -#         %br/
        -#         %span.js-remove 削除
        -#       - if @post.persisted?
        -#         = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        -#         .js-file_group{"data-index" => "#{@post.images.count}"}
        -#           = file_field_tag :image_url, name: "post[images_attributes][#{@post.images.count}][src]", class: 'js-file'
        -#           .js-remove 削除
      = f.text_field :country, class: 'form__country', placeholder: '旅行先'
      = f.select :travelexpense, [['~9999', '~9999'], ['10000~19999', '10000~19999'], ['20000~29999', '20000~29999'], ['30000~39999', '30000~39999'], ['40000~49999', '40000~49999'], ['50000~59999', '50000~59999'], ['60000~69999', '60000~69999'], ['70000~79999', '70000~79999'], ['80000~89999', '80000~89999'], ['90000~99999', '90000~99999'], ['100000~', '100000~']], prompt: "旅行費を選択してください"
      = f.text_field :content, class: 'form__message', placeholder: '旅行の思い出'
      = f.submit 'Send', class: 'form__submit'
