= render "./shared/header"
.formwrapper
  .form
    = form_for [@post] do |f|
      = f.text_field :country, class: 'form__country', placeholder: '旅行先'
      .form__mask
          = f.file_field :image, class: 'hidden'
      = f.select :travelexpenses_id, [['~9999', 1], ['10000~19999', 2], ['20000~29999', 3], ['30000~39999', 4], ['40000~49999', 5], ['50000~59999', 6], ['60000~69999', 7], ['70000~79999', 8], ['80000~89999', 9], ['90000~99999', 10], ['100000~', 11]], class: 'form__travelexpenses', prompt: "旅行費を選択してください"
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      = f.submit 'Send', class: 'form__submit'