= render "./shared/header"
.contentswrapper
  - @posts.each do |post|
    .contents
      .uppercontents
        .uppercontents__usericon
          %text
          = post.user.name
        .uppercontents__more
          %ul.more_list
            %li
              = link_to '詳細', "/posts/#{post.id}", method: :get
            %li
              = link_to '編集', "/posts/#{post.id}/edit", method: :get
            %li
              = link_to '削除', "/posts/#{post.id}", method: :delete
            %li
      = image_tag post.image.url
      .contents__post
        = simple_format(post.content)