= render "header"
.contentswrapper
  .contents
    .contents__more
      %ul.more_list
        %li
          = link_to '編集', "/posts/#{@post.id}/edit", method: :get
        %li
          = link_to '削除', "/posts/#{@post.id}", method: :delete
      = image_tag @post.image.url
    .content_post
      = simple_format(@post.content)
