= render "./shared/header"
.contentswrapper
  .contents
    .uppercontents
      .uppercontents__usericon
        %text
        = @post.user.name
      .uppercontents__more
      - if user_signed_in?
        .menubar
          %label
            %i.fa.fa-ellipsis-h
            %input.acordion{:id => "list", :type => "checkbox"}
            %ul
              - if user_signed_in? && current_user.id == @post.user_id
                -# %li
                -#   = link_to '編集', "/posts/#{@post.id}/edit", method: :get
                %li
                  = link_to '削除', "/posts/#{@post.id}", method: :delete
    .contents__country
      %a
        = @post.country
      .slider
        - @post.images.each do |image|
          = image_tag image.image_url
    .undercontents
      .undercontentsupper
        .counts
          .undercontentsupper__likecount
            - if current_user.already_liked?(@post)
              = button_to post_like_path(@post), method: :delete do
                %i.fa.fa-thumbs-up
                = @post.likes.count 
            - else
              = button_to post_likes_path(@post) do
                %i.fa.fa-thumbs-up
                = @post.likes.count
          .undercontentsupper__commentcount
            %i.fa.fa-envelope
            = @post.comments.count 
        .undercontentsupper__time
          %i.fa.fa-clock
          = @post.created_at.strftime("%Y-%m-%d")
      .undercontents__travelexpense
        %i.fa.fa-yen-sign
        = @post.travelexpense
        円
      .undercontents__dates
        %i.fa.fa-calendar
        = @post.tdate
        〜
        = @post.fdate
      .undercontents__post
        = @post.content
  .contentscommments
    .contentscommments__show
      .title
        %h2 〈 コメント一覧 〉
      .inner
        - @comments.each do |comment|
          .innerupper
            .innerupper__name
              = comment.user.name
            ：
            .innerupper__content
              = comment.content
          .inner__time
            = comment.created_at.strftime("%Y-%m-%d")
      .contentscommments__form
        = form_for [@post, @comment] do |f|
          = f.text_field :content, placeholder: 'コメントを追加'
          %br= f.submit 'コメントする', class: 'commentbtn'



